.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  padding:20px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.tag {
      border-radius: var(--ifm-global-radius);
      font-size: 90%;
      padding: .2rem .5rem .3rem;
      border: 1px solid #dadde1;
      transition: border 200ms;
      margin-left:8px;
      text-decoration:none;
}

.tag:hover {
  border: 1px solid #2e8555;
  text-decoration: none;
}


